body.rails_admin {
  .js_edit_inline_input {
    display: none;
    cursor: inherit;
    input {
      width: 100%;
    }
  }

  .js_edit_inline_text {
    box-shadow: 0px 0px 0px 4px $gray-lighter inset;
    cursor: pointer;
  }

  .js_edit_inline_error {
    box-shadow: 0px 0px 0px 4px $brand-danger inset;
  }

  .js_infinite_scroll_error {
    color: $brand-danger !important;
    border-color: $brand-danger !important;
  }
}
