<!--
<!doctype html>
<html>
<head><title>Resume</title>
    <link rel="stylesheet" href="resume.css"></head>
<body>
-->


<div id="wrapper">
  <div class='container'>
 <h2 class='text-center'>Damien Pyles </h2>
 <hr>
 <div class='info'>
   <small>&bull;</small>
 	<small>Columbus, OH</small>
    <small>614-940-9150</small>
    <small><a href='mailto:therealdpyles@gmail.com'>therealdpyles@gmail.com</a></small>
    <small>&bull;</small>
 </div>

<hr>
    
<p> <%= @resume.summary.body %> </p>
 

<%= render "layouts/experience" %>

<%= render "layouts/education" %>

<%= render "layouts/skills" %>
</div>
</div>

<!--
</body>
    
    
    </html>`
-->
