// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body #background{
    
    margin:0;
    background-color: grey;
  background-size: cover;
 margin-top: 0px;
 z-index:1;
font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
 
}


.loader{
    padding-left: 5px;
    margin-top: -5px;
    display: none;
}
hr {
    margin-top: -5px;
}
h1{
    margin-top: 15px;
    width:200px;
    font-size: 28px;
   text-align: center;
} 

 
 .info{
    padding: 0px;
    width: 70%;
    margin-top: -15px;
    margin-left:auto;
    margin-right: auto;
    text-align: center;
 }
 .info small {
    display: inline;
    padding-left: 5px;
    font-size: 13px;
}



h2{
    font-size: 24px;
}

h3{
    font-size: 21px;
    text-decoration: underline;
}

h4{
    font-size: 18px;


}

h5{
    font-size: 15px;
}

 p{
    font-size: 13px;
 }

li {
 font-size: 13px;
}


#pdf-body {
   ul {
        li {
            &:before {
                position: absolute; //This way is doesn't effect sizing
                left: 34px; //Whatever indent level you need to match the bullet placement
                z-index: 1000; //This may not be necessary for you
                content:'\00b7';
                font-size: 40px;
                margin-top: -18px;
            }
        }
    }
  }

#wrapper{
  

    background-color:white;
    margin-right:auto;
    margin-left:auto;
    padding:50px;
    margin-top: 10px;
    min-height: 700px;
}

@media screen and (min-width: 1000px){
    #wrapper{
        width: 65% !important;
        
    }
}

@media screen and (max-width: 999px){
    #wrapper{
        width: 99%;
    }
}

span{
    text-decoration:underline;
}

.skills{
    margin-bottom: 3px;
}

.contributions{
    margin-left: 15px;
}