<h3> Education	</h3>   
		 
   <% @resume.education.each do |edu| %>
         
		 <p> <b><%= edu.school.html_safe
 %></b> <%= edu.location.html_safe
 %>
		 
		 <small style="float: right"><%= from_to(edu)%></small>
		 </p> 
		 <ul style="margin-top: -10px"><li>  <%= edu.noteworthy_data %> </li></ul>
		 

   <% end %>