<h3>Projects</h3>

<% @resume.projects.each do |j| %> 
<h5> <%= j.company.html_safe %> | <small style="display: inline"> <%= j.description %></small>
  </h5>	
<ul> 
  	<% j.bullet_points.each do |bp| %> 
  		<li><%= bp.content %></li>
  	<% end %> 
</ul>

   

<% end %>